body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  overscroll-behavior: contain;
}

a {
  text-decoration: none;
}

/* region: .phone-frame */

.phone-frame--inner {
  background-color: white;
}
/* end-region: .phone-frame */

/* region: scrollbar */
.tag-selector::-webkit-scrollbar, .phone-frame--inner::-webkit-scrollbar {
  width: 5px;
}

.tag-selector::-webkit-scrollbar-thumb, .phone-frame--inner::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}
/* end-region: scollbar */

/* region: project-viewer */
.project-viewer {
  min-height: calc(100% - 51px);
}

.project-viewer--header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 2;
  padding: 10px;
  border-bottom: 1px solid #D3D3D3;
}
/* end-region: project-viewer */

.tag-search {
  width: 100%;
}

/* region: .tag-selector */
.tag-selector {
  width: 100%;
  min-width: 200px;
  height: 150px;
  overflow: auto;
  box-shadow: 0px 1px 3px #888888;
}

.tag-selector--item {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tag-selector--item:hover {
  box-shadow: 0px 1px 3px #888888;
}

.tag-selector--item-check-wrapper {
  display: flex;
  width: 15px;
  margin-left: 10px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.tag-selector--item-check {
  width: 100%;
}

.tag-selector--item-icon-wrapper {
  display: flex;
  width: 25px;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
}

.tag-selector--item-icon {
  width: 100%;
}

.tag-selector--item-name {
  flex: 1;
}
/* end-region: .tag-selector */

/* region: .tag-list */
.tag-list {
  display: flex;
  padding: 10px 0px 10px 0px;
}

.tag-list--label-group {
  padding: 5px 5px 5px 0px;
}

.tag-list--label {
  margin: 2px;
  display: flex;
  cursor: pointer;
  transition: color 0.2s;
  padding: 2px;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  min-width: 80px;
}

.tag-list--label.active {
  color: #3946A0;
  opacity: 1;
}

.tag-list--label.active:hover {
  color: #484848;
}

.tag-list--label-svg {
  border-radius: 30px;
  padding: 3px;
  margin-right: 5px;
  background-color: black;
  transition: background-color 0.2s;
  color: white;
}

.tag-list--label.active .tag-list--label-svg {
  background-color: #3946A0;
}

.tag-list--label.active:hover .tag-list--label-svg {
  background-color: #484848;
}

.tag-list--content {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  margin: 2px;
  height: 20px;
  min-width: 60px;
  padding: 7px;
  border-radius: 60px;
  box-shadow: 0px 1px 3px #888888;
  justify-content: center;
  align-items: center;
}

.tag--icon-wrapper {
  display: flex;
  width: 20px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.tag--icon {
  width: 100%;
}

.tag--name {
  flex: 1;
  font-size: 13px;
  text-align: center;
}

.tag--cross-wrapper {
  display: flex;
  width: 15px;
  margin-left: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.tag--cross {
  width: 100%;
}
/* end-region: .tag-list */

/* region: .project-list */
.project-list {
  padding: 10px 10px 120px 10px; /* add extra bottom padding to prevent tooltip clipping */
}
/* end-region: .project-list */

/* region: .project-item */
.project-item {
  display: flex;
  padding: 16px 0px 8px 0px;
  border-bottom: 1px solid #E9E9E9;
}

.project-item--icon-wrapper {
  flex: 0 0 66px;
  height: 66px;
  
}

.project-item--icon {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 1px 3px #888888;
}

.project-item--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 120px; /* to enable ellipsis overflow on .project-item--content-description */
  flex: 1;
  padding: 0px 10px 0px 10px;
}

.project-item--content-title-group {
  display: flex;
  font-size: 14px;
  margin-bottom: 6px;
}

.project-item--content-title {
  flex: 1;
  font-weight: 500;
}

.project-item--content-year {
  display: flex;
  width: 40px;
  height: 15px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 16px;
  box-shadow: 0px 1px 3px #888888;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}

.project-item--content-description-group {
  position: relative;
  font-size: 12px;
  margin-bottom: 6px;
}

.project-item--content-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-item--content-tags {
  display: flex;
  flex-wrap: wrap;
  width: 133.3%;
  transform: scale(0.75);
  transform-origin: top left;
}

.project-item--cta-group {
  flex: 0 0 62px;
}

.project-item--cta-demo {
  width: 100%;
  height: 36px;
  border-radius: 18px;
  line-height: 36px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(90deg,#31ade3,#35cdef);
  margin-bottom: 5px;
  cursor: pointer;
}

.project-item--cta-repo {
  width: 100%;
  height: 36px;
  border-radius: 18px;
  line-height: 36px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(90deg,#ffa351,#e0bda0);
  cursor: pointer;
}
/* end-region: .project-item */

/* region: .tooltip */
.tooltip {
  position: absolute;
  width: 100%;
  background-color: #555555;
  color: white;
  top: 20px;
  left: 0px;
  padding: 8px;
  border-radius: 6px;
  z-index: 1;
  box-shadow: 0px 1px 3px #888888;
  display: none;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.tooltip--arrow-up {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #555555;
  display: none;
}

.project-item--content-description.overflow:hover + .tooltip--arrow-up,
.project-item--content-description.overflow:hover + .tooltip--arrow-up + .tooltip {
  display: block;
}
/* end-region: .tooltip */

/* region: .qrcode */
.display--qrcode-wrapper {
  width: 20vh;
  height: 20vh;
  position: absolute;
  top: 72vh;
  left: calc(51vw + 50vh * 0.4828);
  display: none;
}

.qrcode {
  width: 100%;
  height: 100%;
}

.qrcode--image {
  width: 100%;
  height: 100%;
}
/* region: .qrcode */

/* region: .navigation-bar */
.navigation-bar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  z-index: 2;
  border-top: 1px solid #BFBFBF;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.navigation-bar--tab {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.navigation-bar--tab-icon {
  cursor: pointer;
  color: #AEAEAE;
}
/* end-region: .navigation-bar */

/* region: media-pc */
@media screen and (min-width: 640px) and (min-height: 640px) {
  body {
    background: linear-gradient(90deg,#ffafbd,#ffc3a0);
  }
  
  /* region: .phone-frame */
  .phone-frame {
    margin: auto;
    width: calc(100vh * 0.4828);
    height: 100vh;
    background-image: url('/public/assets/images/phone-frame.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .phone-frame--mask {
    width: 100%;
    height: 100%;
    mask-size: cover;
    mask-image: url('/public/assets/images/phone-frame-mask.png');
  }
  
  .phone-frame--inner {
    width: 92%;
    height: 100%;
    padding: 10% 0px 21% 0px;
    margin: 0px 4% 0px 4%;
    box-sizing: border-box;
    overflow: auto;
  }
  /* end-region: .phone-frame */

  /* region: .qrcode */
  .display--qrcode-wrapper {
    display: block;
  }
  /* region: .qrcode */

  /* region: .navigation-bar */
  .navigation-bar {
    position: sticky;
  }
  /* end-region: .navigation-bar */
}
/* end-region: media-pc */